﻿<div class="row">
    <div class="col-md-5 col-sm-12">
        <div class="row">
            <span class="temperature_now" id="temperature"></span>
            <span class="condition_now" id="condition"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="details_now" id="humidity"></span>
                <span class="details_now" id="sensation"></span>
                <span class="details_now" id="wind_velocity"></span>
                <span class="details_now" id="pressure"></span>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="day">
                    <div><span id="date0"></span></div>
                    <div class="image"><img id="img0" src="" style="display:none;" /></div>
                    <div><span id="temp0"></span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="day">
                    <div><span id="date1"></span></div>
                    <div class="image"><img id="img1" src="" style="display:none;" /></div>
                    <div><span id="temp1"></span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="day">
                    <div><span id="date2"></span></div>
                    <div class="image"><img id="img2" src="" style="display:none;" /></div>
                    <div><span id="temp2"></span></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="day">
                    <div><span id="date3"></span></div>
                    <div class="image"><img id="img3" src="" style="display:none;" /></div>
                    <div><span id="temp3"></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="day">
                    <div><span id="date4"></span></div>
                    <div class="image"><img id="img4" src="" style="display:none;" /></div>
                    <div><span id="temp4"></span></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="day">
                    <div><span id="date5"></span></div>
                    <div class="image"><img id="img5" src="" style="display:none;" /></div>
                    <div><span id="temp5"></span></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="day">
                    <div><span id="date6"></span></div>
                    <div class="image"><img id="img6" src="" style="display:none;" /></div>
                    <div><span id="temp6"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>