﻿@{
    ViewBag.Title = "How's the weather!?";
}

<div class="informations">
    @Html.Partial("~/Views/Components/Temperature.cshtml")
</div>
<div class="alert alert-danger fade" role="alert" id="buttonAlert" style="margin-left: -13px">
    <strong>Opa!</strong> Cidade não encontrada.
</div>

<script language="JavaScript" src="~/Scripts/SearchAPI.js"></script>