﻿@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html, body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

body {
    background: #2F80ED; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    body.hot {
        background: #FF512F; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FF512F, #F09819); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FF512F, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    body.regular {
        background: #2F80ED; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    body.cold {
        background: #076585; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #076585, #DCDCDC); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #076585, #DCDCDC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    body.freeze {
        background: #8e9eab; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.navbar .bg-color {
    background: transparent !important;
}

.navbar .form-inline .input-group {
    margin-top: 20px;
}

.title {
    margin-left: -16px;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

.form-control:focus {
    box-shadow: none;
}

.button:focus {
    outline: none;
}

.temperature_now {
    margin-top: -45px;
    font-size: 150px;
    color: #fff;
    display: block;
}

.condition_now {
    font-size: 40px;
    color: #fff;
    display: block;
    margin-top: -40px;
}

.details_now {
    margin-left: -13px;
    display: block;
    font-size: 19px;
    color: #fff;
}

.day {
    margin-bottom: 20px;
    text-align: center;
    font-size: 19px;
    color: white;
}

.image {
    height: 70px;
}

@media only screen and (max-width: 480px) {
    body {
        background: #2F80ED;
        overflow-x: hidden;
    }

    .title {
        font-size: 33px;
        font-weight: 600;
        color: #fff;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .button:focus {
        outline: none;
    }

    .temperature_now {
        font-size: 120px;
        color: #fff;
        display: block;
    }

    .condition_now {
        font-size: 32px;
        color: #fff;
        display: block;
    }

    .details_now {
        display: block;
        font-size: 18px;
        color: #fff;
    }

    .day {
        margin-top: 20px;
        margin-bottom: -15px;
        text-align: center;
        font-size: 18px;
        color: white;
    }
}
