﻿<nav class="navbar navbar-light bg-color justify-content-between">
    <a class="navbar-brand"><h1 class="title">How's the weather!?</h1></a>
    <form class="form-inline">
        <div class="input-group input-group-sm mb-3">
            <input type="text" id="cityBox" class="form-control" placeholder="Digite uma cidade" aria-label="Digite uma cidade" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="button" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>
</nav>